<h3>Stage Name: <%= @stage.name%></h3>
<h4>Artists Performing Here:<h4>

  <% if @stage.artists %>
    <ul>
      <% @stage.artists.each do |artist| %>
        <li><a href="/stages/<%= @stage.id %>/artists/<%= artist.id %>"><%= artist.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no artists listed for this stage yet.</p>
  <% end %>

<h4>Add an artist:</h4>

<form action="/stages/<%= @stage.id %>/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add artist</button>
</form>

<p><a href="/stages/<%= @stage.id %>/edit">Edit stage</a></p>
<a href="/stages">Return to stage list</a>
